* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    text-align: center;
}

.main {
    border: 2px solid black;
    width: 80%;
    margin: 0 auto;
}

.button{
    background-color: yellow;
    padding: 5px 10px;
}

